
body{
   margin: 0 auto;
padding: 0px;
color: #575757;;


/*nav section area style*/
}
.NavSection{
display: flex;
align-items: center;
padding: 0 8%;
margin: auto;
font-weight: 700;

}
span{
     color: blue;
}

.firstNav{
     padding: 0px 3%;
     font-size: 25px;
}
.secondNav a{
     text-decoration: none;
     color:#11B2FA;
     padding: 10px;
     
}

.midNav :hover{
     background-color: #11B2FA;
     color: white;
     box-shadow: rgb(0 0 0 / 20%) 0px 0px 15px 3px;
     border-radius: 7px;
}

.NavSection .one{
     width: 33.33%;
}

.lastNav .button{


text-decoration: none;
padding: 10px 25px;
border-radius: 55px;
color: white;
background-image: linear-gradient(281deg, #11B2FA, #A6D4EE);
font-weight: 700;
margin-left: 15px;

}
.button:hover{
     box-shadow: rgb(0 0 0 / 20%) 0px 0px 15px 3px !important;
    color: #11B2FA !important;
    background-image: linear-gradient(white, white) !important;

}


/*Banner section area style*/



.bannerArea {
 
     display: flex;
     gap: 50px;
margin: 10px 10px 3% 15px;

}
span {
     color: #11B2FA;
 }
.textArea{
     
     padding: 2% 0% 2% 7%;
     width: 40%;
}
.textArea h1{
     font-size: 60px;
     font-weight: 700;
     letter-spacing: 2px;
     line-height: 1.4;
     
}

.textArea p{
     margin: -10px 0px 54px 0px;
     font-size: 20px;
     opacity: 80%;
}

.bannerArea .button{
     text-decoration: none;
     padding: 20px 50px;
     border-radius: 50px;
     color: white;
     background-image: linear-gradient(281deg, #11B2FA, #A6D4EE);
     font-weight: 600;
     font-size: 18px;
 }



.imageArea{
padding-right: 3%;
width: 50%;
}

.bannerArea .imageArea img{
     width: 100%;
}


/*About us Area Style*/


.aboutUs{
     background-image: url(./bgimage.jpg);
     background-repeat: no-repeat;
display: flex;
gap: 0px;
     background-size: 100%;
     padding: 2% 0px;


}

.aboutUs .Two{
     width: 50%;
padding: 0% 4%;

}
.aboutUs img{
     padding: 1px 10px 0px 10px;
     width: 86%;
     
}

.textAreaTwo{

padding: 200px 1px 1px 1px;

}
.aboutUs h1 {
     padding: 40px 0px 0px 0px;
     font-size: 50px;
     font-weight: 700;
}
.aboutUs p{
     padding: 10px 0 60px 0;
     font-size: 20px;
     opacity: 80%;
     line-height: 1.7;
}

.aboutUs .button{
     text-decoration: none;
     padding: 20px 50px;
     border-radius: 50px;
     color: white;
     background-image: linear-gradient(281deg, #11B2FA, #A6D4EE);
     font-weight: 600;
     font-size: 18px;
}


/*Recipie Section Area Style*/





 .recipies{
     padding: 2% 7% 5%;
 }
 .title {
     text-align: center;}

  .title h2 {
          font-size: 40px;
          font-weight: 700;}

.title p {
    margin: 0 auto;
    font-size: 19px;
    opacity: 90%;
    max-width: 40%;
}

.FlexRecipe{
     display: flex;
     gap: 10px;
}
.recipies .flex  {
     box-shadow: rgb(0 0 0 / 20%) 0px 0px 10px 3px;
     margin: 15px;
     border-radius: 20px;
     padding: 40px;
 }
 
 .recipies .flex:hover {
     box-shadow: #11B2FA 0px 0px 15px 3px;
 }
 
 .recipies .flex img {
     width: 100%;
     margin: 0 auto;
 }
 
 .recipies .flex  h2 {
     font-size: 25px;
     color: black;
     font-weight: 700;
 }
 
 .recipies .flex  p {
     margin: -10px 0 20px 0;
     font-size: 20px;
     opacity: 80%;
     line-height: 1.5;
 }


/*Feedback Area Style*/

.feedback{
     padding: 2% 5% ;
 }

 .title{
     text-align: center;
 }
 .title h1{
     font-size: 38px;
     font-weight: 700;

 }
 .title p{
     margin: 0 auto;
     font-size: 19px;
     opacity: 80%;
     max-width: 40%;
 }
.Review{

     margin: 5px;
     padding: 20px;
     text-align: center;
     display: flex;
     gap: 10px;
 
}

.Flex{
   border: none;
  
     margin: 15px;
     border-radius: 20px;
     padding: 40px;
}


 .Flex img{
     width: 50%;
     display: block;
     margin: 0 auto;
     border-radius: 15px;
 }

 .Flex:hover {
    
     box-shadow: #11B2FA 0px 0px 15px 3px;
    
 }

 .Flex h1{
     font-size: 25px;
     color: #11B2FA;
   
}

 .Flex  h3 {
     font-size: 21px;
     color: black;
    
 }
 .Flex p{
     margin: -10px 0px;
     font-size: 21.5px;
     line-height: 1.7;
 }


/*USER LIST AREA STYLE*/


.follower{
  display: flex;
     margin: 2% 7% 15% 7%;
     box-shadow: rgb(0 0 0 / 20%) 0px 0px 15px 3px;
     border-radius: 20px;
}

.fLex{
     width: 33.33;
     padding: 0% 0% 5% 11%;
}

.fLex h1{
font-size: 50px;
color: black;
}

/*BOTTOM AREA STYLE*/
/*.bottomParent{
     position: relative;
}
.bottomChild{
     box-shadow: rgb(0 0 0 / 20%) 0px 0px 15px 3px;
margin: auto;
text-align: center;
width: 700px;
border-radius: 20px;
padding: 1%;
position: absolute;
bottom: 73%;
left: 22%;
z-index: 10;
background-color: #fff;

}

.bottomChild h1{
 
     font-size: 40px;
padding: 3%;
margin: 0;

}
.bottomChild p{
     margin: 0 auto;
font-size: 18px;
opacity: 80%;
max-width: 50%;

}
.bottomChild input{
   
     width: 400px;
     height: 32px;
     border-radius: 15px 0px 0px 15px;
     text-indent: 10px;
}
.form{
     
     padding: 1% 0 1% 0;

}
.bottomChild input {
     border: 2px solid #11B2FA;
     font-weight: 700;
 }
 .submit {
    
     
     border-radius: 0 15px 15px 0;
     background-color: #11B2FA;
     color: #fff;
     text-align: center;
}

.submit:hover {
     background-color: #fff;
     box-shadow: rgb(0 0 0 / 20%) 0px 0px 15px 3px;
     color: #11B2FA;
}
*/


.bottom-section {
     position: relative;
 }
 
 .newsletter {
     margin: 0 auto;
     text-align: center;
     width: 700px;
     box-shadow: rgb(0 0 0 / 20%) 0px 0px 15px 3px;
     border-radius: 20px;
     padding: 2%;
     position: absolute;
     bottom: 73%;
     left: 22%;
     
     background-color: #fff;
 }
 
 .newsletter .title h2 {
     font-size: 40px;
     font-weight: 700;
     padding: 3%;
     margin: 0;
 }
 
 .newsletter .title p {
     margin: 0 auto;
     font-size: 18px;
     opacity: 80%;
     max-width: 50%;
 }
 
 .newsletter .input {
     width: 300px;
     height: 32px;
     border-radius: 15px 0 0 15px;
     text-indent: 10px;
 }
 
 form {
     padding: 3% 0 2% 0;
 }
 
 input {
     border: 2px solid #11B2FA;
     font-weight: 700;
 }
 
 
 .newsletter .submit {
     width: 100px;
     height: 38px;
     margin-left: -5px;
     border-radius: 0 15px 15px 0;
     background-color: #11B2FA;
     color: #fff;
     text-align: center;
 }
 
 .newsletter .submit:hover {
     background-color: #fff;
     box-shadow: rgb(0 0 0 / 20%) 0px 0px 15px 3px;
     color: #11B2FA;
 }

 .footer {
     text-align: center;
     background-color: #0B0D17;
     padding: 7% 7% 0 7%;
 }
 
 .footer h2 {
     font-size: 30px;
     padding-top: 2%;
     font-weight: 700;
     letter-spacing: 1px;
 }
 
 .footer p {
     color: white;
 }
 
 .footer-nav {
     padding: 2%;
 }
 
 .footer-nav a {
     text-decoration: none;
     color: #575757;
     padding: 10px;
     font-weight: 700;
 }
 
 .footer-nav a:hover {
     color: #11B2FA;
 }
 
 hr {
     border: 1px solid #11B2FA;
 }
 
 .copyright {
     padding-bottom: 1%;
 }
 




/*RWD SMALL SCREEN SECTION*/







@media only screen and (max-width: 500px)
{
    body{
        background-color: #d6e2e8;
     }

     .NavSection{
        display: inline-block;
        align-items: center;
        
        
        }

      
.lastNav{
    font-size: 5px;
    padding: 15px 0px;
}
.lastNav .button{


    text-decoration: none;
    padding: 5px 15px;
    border-radius: 25px;
    color: white;
    background-image: linear-gradient(281deg, #11B2FA, #A6D4EE);
    font-weight: 700;
   margin: 10px;
    
    }
     

     /*BANNAR AREA SMALL SCREEN*/




 .bannerArea {
  margin: 0PX;
display: block;
   text-align: center;
    
  
}
.textArea{
   
    padding-right: 0px;
    width: 80%;

}

.bannerArea .button{
    text-decoration: none;
    padding: 15px 25px;
    border-radius: 50px;
    color: white;
    background-image: linear-gradient(281deg, #11B2FA, #A6D4EE);
    font-weight: 600;
    font-size: 10px;
}

.imageArea{
    padding-right: 0px;
    width: 90%;
    }

    /*ABOUT US AREA SMALL SCREEN*/
    .aboutUs{
        background-image: url(./bgimage.jpg );
        background-repeat: no-repeat;
  display: block;
  text-align: center;
 
        background-size: 100%;
        width: 100%;
    
        
   
   
   }
   .aboutUs .img{
    padding: 5px 10px 10px 100px;
    
}
.aboutUs .txt{
    padding: 115px 10px 10px 100px;
    
}


.aboutUs img{
    
    padding-right: 0px;
    width: 70%;
    float:right;
    
}



.aboutUs .button{
    text-decoration: none;
    padding: 20px 25px;
    border-radius: 30px;
    color: white;
    background-image: linear-gradient(281deg, #11B2FA, #A6D4EE);
    font-weight: 600;
    font-size: 12px;
}




/*RECIPIES AREA*/





.FlexRecipe{
    display: block;
    padding-right: 0px;

}




/*CUSTOMER FEEDBACK AREA*/







.Review{

   
    text-align: center;
    display: block;
    
}

/*FOLLOWER ARE*/

.follower{
    display: block;
    text-align: center;
       margin: 2% 7% 45% 7%;
       box-shadow: rgb(0 0 0 / 20%) 0px 0px 500px 100px;
       border-radius: 20px;
  }





  .newsletter {
   
    text-align: center;
    width: 300px;
    box-shadow: rgb(0 0 0 / 20%) px 500px 5px 3px;
    border-radius: 20px;
    padding: 2%;
    position: absolute;
    bottom: 70%;
    left: 8%;
    right: 8px;
 
    background-color: #fff;
}
form {
    padding: 30% 3% 5% 3;
}


.footer {
    text-align: center;
    background-color: #0B0D17;
    padding: 30% 1% 0 2%;
}



}




/*RWD MEDIUM SCREEN*/



@media only screen and (min-width:501px) and (max-width:800px){
     body{
          background-color:rgb(110, 122, 121)
     }
     .NavSection{
        display: inline-block;
        align-items: center;
        
        
        }

      
.lastNav{
    font-size: 5px;
    padding: 15px 0px;
}
.lastNav .button{


    text-decoration: none;
    padding: 5px 15px;
    border-radius: 25px;
    color: white;
    background-image: linear-gradient(281deg, #11B2FA, #A6D4EE);
    font-weight: 700;
   margin: 10px;
    
    }
/*BANNAR AREA MEDIUM SCREEN*/
     .bannerArea {
        
        display: block;
       text-align: center;
        
      
    }
    .textArea{
       
        padding-right: 0px;
        width: 100%;
    
    }
    
    .bannerArea .button{
        text-decoration: none;
        padding: 15px 25px;
        border-radius: 50px;
        color: white;
        background-image: linear-gradient(281deg, #11B2FA, #A6D4EE);
        font-weight: 600;
        font-size: 10px;
    }
    
    .imageArea{
        padding-right: 0px;
        width: 100%;
        }
    
    /*ABOUT US AREA*/
    .aboutUs{
        background-image: url(./bgimage.jpg );
        background-repeat: no-repeat;
  display: block;
  text-align: center;
 
        background-size: 100%;
        width: 104.7%;
    
        padding-right: 0px;
   
   
   }
 

.aboutUs .img{
    padding: 5px 10px 0px 110px;
    
}
.aboutUs .txt{
    padding: 205px 10px 10px 140px;
    
}

.aboutUs img{
    
    padding-right: 0px;
    width: 70%;
    float:right;
    
}



.aboutUs .button{
    text-decoration: none;
    padding: 20px 25px;
    border-radius: 30px;
    color: white;
    background-image: linear-gradient(281deg, #11B2FA, #A6D4EE);
    font-weight: 600;
    font-size: 12px;
}



/*RECIPIES AREA*/
.FlexRecipe{
    display: block;

}

.Review{

   
    text-align: center;
    display: block;
    
}

/*FOLLOWER AREA*/
.follower{
    display: block;
    text-align: center;
       margin: 2% 7% 45% 7%;
       box-shadow: rgb(0 0 0 / 20%) 0px 0px 500px 100px;
       border-radius: 20px;
  }





  .newsletter {
   
    text-align: center;
    width: 300px;
    box-shadow: rgb(0 0 0 / 20%) px 500px 5px 3px;
    border-radius: 20px;
    padding: 2%;
    position: absolute;
    bottom: 73%;
    left: 10%;
    right: 10%;
 
    background-color: #fff;
}
form {
    padding: 10% 2% 2% 0%;
}
.footer {
    width: 81%;
    text-align: center;
    background-color: #0B0D17;
    padding: 10% 12% 0 12%;
}

}



